body {
  color: purple;
  background: black;
  font-family: arial;
}

h1 {
  text-align: center;
  width: 100%;
  background: purple; 
  color: black;
}

pre {
  font-size: 1.5em;
  text-align: center;
  color: orange;
}

#footer {
  text-align: center;
  background: purple;
  color: black;
  width: 100%;
}

#footer a {
  color: white;
  font-weight: bold;
}
